<div data-controller="closeable">
    <!-- Toggleable button to close side menu -->
    <button 
        data-closeable-target="toggleButton"
        data-action="click->closeable#toggle"
        class="fixed z-50 p-3 top-[75px] right-85 text-white hover:bg-white/10 rounded-lg transition-colors group cursor-pointer"
        aria-label="Toggle menu"
    >
        <!-- Burger button visible when menu closed -->
        <div data-closeable-target="burgerIcon" class="w-6 h-5 relative flex flex-col justify-between">
            <span class="w-full h-0.5 bg-white group-hover:bg-amber-400 transition-colors duration-200"></span>
            <span class="w-full h-0.5 bg-white group-hover:bg-amber-400 transition-colors duration-200"></span>
            <span class="w-full h-0.5 bg-white group-hover:bg-amber-400 transition-colors duration-200"></span>
        </div>
        
        <!-- X button visible when menu open -->
        <div data-closeable-target="closeIcon" class="hidden w-6 h-5 relative flex flex-col justify-center items-center">
            <span class="absolute w-full h-0.5 bg-white group-hover:bg-amber-400 transition-all duration-300 ease-in-out rotate-45"></span>
            <span class="absolute w-full h-0.5 bg-white group-hover:bg-amber-400 transition-all duration-300 ease-in-out -rotate-45"></span>
        </div>
    </button>

    <!-- Sidebar menu -->
    <aside 
        data-closeable-target="sidebar"
        class="pb-8 lg:pb-0 lg:w-[411px] shrink-0 lg:block text-white border-b lg:border-b-0 lg:border-l border-white/20 transition-all overflow-hidden"
        style="width: 0; padding: 0; border-width: 0;"
    >
        <div class="flex justify-between mt-11 mb-7">
            <h2 class="text-[32px] font-semibold">Menu</h2>
        </div>
        {% if app.user %}
            <div>
                <div class="flex flex-col space-y-1.5">
                    <div class="rounded-2xl py-1 px-3 flex justify-center w-50 items-center" style="background: rgba(255, 184, 0, .1);">
                        <div class="rounded-full h-2 w-2 bg-amber-400 blur-[1px] mr-2"></div>
                        <p class="uppercase text-xs">Tracking {{ app.user.permitWatches.count }} Entry Point(s)</p>
                    </div>
                    <h3 class="tracking-tight text-[22px] font-semibold">
                        <a class="hover:text-amber-400 transition-colors duration-200" href="">My Tracked Entry Points</a>
                    </h3>
                    <h3 class="tracking-tight text-[22px] font-semibold">
                        <a href="{{ path('app_logout') }}" class="hover:text-amber-400 transition-colors duration-200" href="">Logout</a>
                    </h3>
                </div>
            </div>
        {% else %}
            <div>
                <h3 class="tracking-tight text-[22px] font-semibold">
                    <a href="{{ path('app_login') }}" class="hover:text-amber-400 transition-colors duration-200" href="">Login</a>
                </h3>
            </div>
        {% endif %}
    </aside>
</div>