{% extends 'base.html.twig' %}

{% block title %}Entry Points{% endblock %}

{% block body %}
    {% for entryPoint in entryPoints %}
        <a href="{{ path('app_entry_point_show', { id: entryPoint.number }) }}">{{ entryPoint.name }}</a>
    {% endfor %}
{% endblock %}