{% extends 'base.html.twig' %}

{% block title %}My Permit Watches{% endblock %}

{% block body %}
    {% for permitWatch in permitWatches %}
        <div class="p-4 mb-4 text-red-800 bg-red-100 rounded-lg">
            {{ permitWatch.entrypoint.name }}
        </div>
    {% endfor %}
{% endblock %}