<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="text-white" style="background: #05472A;">
<div class="flex flex-col justify-between min-h-screen relative">
    
        {% block body %}{% endblock %}
    </div>
    <div class="p-5 bg-white/5 mt-3 text-center">
        Made by Duncan Phelps
    </div>
</div>
</body>
</html>