<div>
    <!-- Your form HTML here -->
    <form>
        <!-- Use the component properties -->
        <input type="hidden" name="permitWatchId" value="{{ permitWatchId }}">
        <input type="hidden" name="entryPointId" value="{{ entryPointId }}">
        <input type="date" name="targetDate" value="{{ targetDate }}">
        <!-- Rest of your form -->
    </form>
</div>