<html>
	<head></head>
	<body>
		<p>A permit has become available at
			{{ entryPointName }}
			for your target date of
			{{ targetDate }}.</p>

		<a href="https://www.recreation.gov/permits/233396">Secure your permit!</a>
	</body>
</html>